<p>
  “In year 80 A.M. (Anno Mickey Mouse), the mice of Planet X are threatened
  <br />
  by humiliation and total apocalypse. The well-organized, fully equipped
  <br />
  gangs of evil cats are aiming to wipe out the mouse civilization totally,
  <br />
  not caring for the old conventions between mice and cats. But in the last
  <br />
  moment, when the mouse leaders are beginning to consider leaving the
  <br />
  planet, a new hope rises…” <br />
</p>

<span>"Cat city, Bela Ternovszky, 1986"</span>

<a href="/home">Back to Home</a>
