<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=s, initial-scale=1.0" />
    <title>Works</title>
  </head>
  <body>
    <ul>
      <li>ex 00 agent at interMouse</li>
      <li>
        Nick Grabowski retrieved the plans of the catCher that allowed the mice
        to take revenge on the evil cats!
      </li>
    </ul>

    <img src="/images/macskafogo kutya.jpg" alt="masckafogo" />
    <a href="/home">Back to Home</a>
  </body>
</html>
